/* External Style Sheet file with style Rules*/
body{background-color: aqua;
    font-size: larger;
    font-family: monospace;
    }
    h1{color: darkorange;}
    p{color: blue;}
    #ipl{color: red; font-family: Verdana, Geneva, Tahoma, sans-serif;}